<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/style.css"/>
    <title>新增課程資料</title>
</head>
<body>
    <div class="function-block">
        <div class="funcion-button" onclick="this.querySelector('.function-link').click()">
            <span class = "function-button-text">新增學生資料</span>
            <a class="function-link" href="/addstudent"></a>
        </div>
        <div class="funcion-button" style="background-color: plum;" onclick="this.querySelector('.function-link').click()">
            <span class = "function-button-text">新增課程資料</span>
            <a class="function-link" href="/addclass"></a>
        </div>
        <div class="funcion-button" onclick="this.querySelector('.function-link').click()">
            <span class = "function-button-text">新增選課資料</span>
            <a class="function-link" href="/addenrollment"></a>
        </div>
        <div class="funcion-button" onclick="this.querySelector('.function-link').click()">
            <span class = "function-button-text">輸入期中期末成績</span>
            <a class="function-link" href="/insertscore"></a>
        </div>
        <div class="funcion-button" onclick="this.querySelector('.function-link').click()">
            <span class = "function-button-text">查詢總成績</span>
            <a class="function-link" href="/searchscore"></a>
        </div>

    </div>
    <div class="form-block">
        <form class="form-submit-block" method='post' action={{ url_for('addclass') }}>
            <div class="form-complement">
                <label>課程代碼：</label>
                <input class = "form-input" name="cid">
            </div>
            <div class="form-complement">
                <label>課程名稱：</label>
                <input class = "form-input" name="cname">
            </div>
            <div onclick="this.parentNode.submit()" class="form-complement form-submit">
                <label onclick="this.parentNode.click()" style="margin:auto; cursor:pointer">提交</label>
            </div>
        
            <div class="from-response">
                {%if cData %}
                新增課程資料 課程代碼：{{cData['cid']}}    課程名稱：{{cData['cname']}}
                {%endif%}
            </div>

        </form>

    </div>
</body>
</html>