<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/style.css"/>
    <title>輸入期中期末成績</title>
</head>
<body>
    <div class="function-block">
        <div class="funcion-button"onclick="this.querySelector('.function-link').click()">
            <span class = "function-button-text">新增學生資料</span>
            <a class="function-link" href="/addstudent"></a>
        </div>
        <div class="funcion-button" onclick="this.querySelector('.function-link').click()">
            <span class = "function-button-text">新增課程資料</span>
            <a class="function-link" href="/addclass"></a>
        </div>
        <div class="funcion-button" onclick="this.querySelector('.function-link').click()">
            <span class = "function-button-text">新增選課資料</span>
            <a class="function-link" href="/addenrollment"></a>
        </div>
        <div class="funcion-button" style="background-color: plum;"  onclick="this.querySelector('.function-link').click()">
            <span class = "function-button-text">輸入期中期末成績</span>
            <a class="function-link" href="/insertscore"></a>
        </div>
        <div class="funcion-button" onclick="this.querySelector('.function-link').click()">
            <span class = "function-button-text">查詢總成績</span>
            <a class="function-link" href="/searchscore"></a>
        </div>

    </div>
    <div class="form-block">
        <form class="form-submit-block" method='post' action={{ url_for('insertscore') }}>
            <div class="form-complement">
                <label>學號：</label>
                <select class="form-select" id="sid" name="sid">
                    {%for student in Student_list %}
                    <option value={{student}}>{{student}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-complement">
                <label>課名：</label>
                <select class="form-select" id="cname" name="cname">
                    {%for Course in Course_List %}
                    <option value={{Course[1]}}>{{Course[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-complement">
                <label>期中：</label>
                <input class = "form-input" name="midterm">
            </div>
            <div class="form-complement">
                <label>期末：</label>
                <input class = "form-input" name="final">
            </div>
            <div onclick="this.parentNode.submit()" class="form-complement form-submit">
                <label onclick="this.parentNode.click()" style="margin:auto; cursor:pointer">提交</label>
            </div>
            
            <div class="from-response">
                {%if scoreData %}
                輸入成績 學號：{{scoreData['sid']}}  課程名稱：{{scoreData['cname']}} 期中成績：{{scoreData['midterm']}} 期末成績：{{scoreData['final']}}
                {%endif%}
            </div>
        </form>
    </div>
</body>
</html>